*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', '';
}
div#header {
  margin: 0 auto;
  width: 100px;
}

div#content-holder
{
  padding: 30px;
  height: 100%;
}

div#content
{
  margin: auto;
  width: 800px;
  height: 600px;  
}

div#numbers-holder {
  padding: 30px;
  height: 100%;
}

input.number {
  width: 150px;
  border: 1px solid #000;
}

button.submit {
  width: 70px;
}

div#numbers {
  margin: auto;
  width: 340px;
  height: 100px;
}

span.adding {
  margin-left: 2em;
}

button {
  background-color: #FFF;
  margin: auto;
  margin-left: 1em;
  border: 1px solid #000;
}

button:hover {
  background-color: #DDD;
}

.hidden {
  display: none;
}
